.social-rocket-buffer .social-rocket-button-icon,
    .social-rocket-buffer .social-rocket-button-cta,
    .social-rocket-buffer .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-button.social-rocket-buffer {
      background-color: #f8f9fa
    }
    
    .social-rocket-button.social-rocket-buffer {
      border-color: transparent
    }
    
    .social-rocket-buffer:hover .social-rocket-button-icon,
    .social-rocket-buffer:hover .social-rocket-button-cta,
    .social-rocket-buffer:hover .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-buffer:hover .social-rocket-button-icon svg,
    .social-rocket-buffer:hover .social-rocket-button-icon svg g,
    .social-rocket-buffer:hover .social-rocket-button-icon svg path {
      fill: #fff
    }
    
    .social-rocket-button.social-rocket-buffer:hover {
      background-color: #21272c
    }
    
    .social-rocket-facebook .social-rocket-button-icon,
    .social-rocket-facebook .social-rocket-button-cta,
    .social-rocket-facebook .social-rocket-button-count {
      color: #0a0a0a
    }
    
    .social-rocket-button.social-rocket-facebook {
      background-color: #f8f9fa
    }
    
    .social-rocket-button.social-rocket-facebook {
      border-color: #324b81
    }
    
    .social-rocket-facebook:hover .social-rocket-button-icon,
    .social-rocket-facebook:hover .social-rocket-button-cta,
    .social-rocket-facebook:hover .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-facebook:hover .social-rocket-button-icon svg,
    .social-rocket-facebook:hover .social-rocket-button-icon svg g,
    .social-rocket-facebook:hover .social-rocket-button-icon svg path {
      fill: #fff
    }
    
    .social-rocket-button.social-rocket-facebook:hover {
      background-color: #3b5999
    }
    
    .social-rocket-button.social-rocket-facebook:hover {
      border-color: #0a4fa9
    }
    
    .social-rocket-linkedin .social-rocket-button-icon,
    .social-rocket-linkedin .social-rocket-button-cta,
    .social-rocket-linkedin .social-rocket-button-count {
      color: #000
    }
    
    .social-rocket-button.social-rocket-linkedin {
      background-color: #f8f9fa
    }
    
    .social-rocket-button.social-rocket-linkedin {
      border-color: #006999
    }
    
    .social-rocket-linkedin:hover .social-rocket-button-icon,
    .social-rocket-linkedin:hover .social-rocket-button-cta,
    .social-rocket-linkedin:hover .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-linkedin:hover .social-rocket-button-icon svg,
    .social-rocket-linkedin:hover .social-rocket-button-icon svg g,
    .social-rocket-linkedin:hover .social-rocket-button-icon svg path {
      fill: #fff
    }
    
    .social-rocket-button.social-rocket-linkedin:hover {
      background-color: #006999
    }
    
    .social-rocket-button.social-rocket-linkedin:hover {
      border-color: #004666
    }
    
    .social-rocket-mix .social-rocket-button-icon,
    .social-rocket-mix .social-rocket-button-cta,
    .social-rocket-mix .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-button.social-rocket-mix {
      background-color: #f8f9fa
    }
    
    .social-rocket-button.social-rocket-mix {
      border-color: transparent
    }
    
    .social-rocket-mix:hover .social-rocket-button-icon,
    .social-rocket-mix:hover .social-rocket-button-cta,
    .social-rocket-mix:hover .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-mix:hover .social-rocket-button-icon svg,
    .social-rocket-mix:hover .social-rocket-button-icon svg g,
    .social-rocket-mix:hover .social-rocket-button-icon svg path {
      fill: #fff
    }
    
    .social-rocket-button.social-rocket-mix:hover {
      background-color: #ff6a00
    }
    
    .social-rocket-pinterest .social-rocket-button-icon,
    .social-rocket-pinterest .social-rocket-button-cta,
    .social-rocket-pinterest .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-button.social-rocket-pinterest {
      background-color: #f8f9fa
    }
    
    .social-rocket-button.social-rocket-pinterest {
      border-color: transparent
    }
    
    .social-rocket-pinterest:hover .social-rocket-button-icon,
    .social-rocket-pinterest:hover .social-rocket-button-cta,
    .social-rocket-pinterest:hover .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-pinterest:hover .social-rocket-button-icon svg,
    .social-rocket-pinterest:hover .social-rocket-button-icon svg g,
    .social-rocket-pinterest:hover .social-rocket-button-icon svg path {
      fill: #fff
    }
    
    .social-rocket-button.social-rocket-pinterest:hover {
      background-color: #930617
    }
    
    .social-rocket-reddit .social-rocket-button-icon,
    .social-rocket-reddit .social-rocket-button-cta,
    .social-rocket-reddit .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-button.social-rocket-reddit {
      background-color: #f8f9fa
    }
    
    .social-rocket-button.social-rocket-reddit {
      border-color: transparent
    }
    
    .social-rocket-reddit:hover .social-rocket-button-icon,
    .social-rocket-reddit:hover .social-rocket-button-cta,
    .social-rocket-reddit:hover .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-reddit:hover .social-rocket-button-icon svg,
    .social-rocket-reddit:hover .social-rocket-button-icon svg g,
    .social-rocket-reddit:hover .social-rocket-button-icon svg path {
      fill: #fff
    }
    
    .social-rocket-button.social-rocket-reddit:hover {
      background-color: #cb3701
    }
    
    .social-rocket-twitter .social-rocket-button-icon,
    .social-rocket-twitter .social-rocket-button-cta,
    .social-rocket-twitter .social-rocket-button-count {
      color: #000
    }
    
    .social-rocket-button.social-rocket-twitter {
      background-color: #f8f9fa
    }
    
    .social-rocket-button.social-rocket-twitter {
      border-color: #0096cc
    }
    
    .social-rocket-twitter:hover .social-rocket-button-icon,
    .social-rocket-twitter:hover .social-rocket-button-cta,
    .social-rocket-twitter:hover .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-twitter:hover .social-rocket-button-icon svg,
    .social-rocket-twitter:hover .social-rocket-button-icon svg g,
    .social-rocket-twitter:hover .social-rocket-button-icon svg path {
      fill: #fff
    }
    
    .social-rocket-button.social-rocket-twitter:hover {
      background-color: #0096cc
    }
    
    .social-rocket-button.social-rocket-twitter:hover {
      border-color: #007099
    }
    
    .social-rocket-email .social-rocket-button-icon,
    .social-rocket-email .social-rocket-button-cta,
    .social-rocket-email .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-button.social-rocket-email {
      background-color: #f8f9fa
    }
    
    .social-rocket-button.social-rocket-email {
      border-color: transparent
    }
    
    .social-rocket-email:hover .social-rocket-button-icon,
    .social-rocket-email:hover .social-rocket-button-cta,
    .social-rocket-email:hover .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-email:hover .social-rocket-button-icon svg,
    .social-rocket-email:hover .social-rocket-button-icon svg g,
    .social-rocket-email:hover .social-rocket-button-icon svg path {
      fill: #fff
    }
    
    .social-rocket-button.social-rocket-email:hover {
      background-color: #b3b3b3
    }
    
    .social-rocket-print .social-rocket-button-icon,
    .social-rocket-print .social-rocket-button-cta,
    .social-rocket-print .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-button.social-rocket-print {
      background-color: #f8f9fa
    }
    
    .social-rocket-button.social-rocket-print {
      border-color: transparent
    }
    
    .social-rocket-print:hover .social-rocket-button-icon,
    .social-rocket-print:hover .social-rocket-button-cta,
    .social-rocket-print:hover .social-rocket-button-count {
      color: #fff
    }
    
    .social-rocket-print:hover .social-rocket-button-icon svg,
    .social-rocket-print:hover .social-rocket-button-icon svg g,
    .social-rocket-print:hover .social-rocket-button-icon svg path {
      fill: #fff
    }
    
    .social-rocket-button.social-rocket-print:hover {
      background-color: #666
    }
    
    .social-rocket-buttons {
      display: block
    }
    
    .social-rocket-buttons .social-rocket-button,
    .social-rocket-buttons .social-rocket-button-anchor,
    .social-rocket-buttons .social-rocket-shares-total {
      -webkit-box-flex: initial;
      -ms-flex: initial;
      flex: initial
    }
    
    .social-rocket-buttons .social-rocket-shares-total {
      color: #252525
    }
    
    .social-rocket-buttons {
      text-align: center
    }
    
    .social-rocket-button {
      border-style: none;
      border-width: 1px;
      border-radius: 0px
    }
    
    .social-rocket-buttons .social-rocket-button,
    .social-rocket-buttons .social-rocket-button:last-child,
    .social-rocket-buttons .social-rocket-shares-total {
      margin-bottom: 0px;
      margin-right: 0px
    }
    
    .social-rocket-floating-buttons .social-rocket-shares-total {
      color: #252525
    }
    
    .social-rocket-floating-buttons.social-rocket-position-top,
    .social-rocket-floating-buttons.social-rocket-position-bottom {
      text-align: center
    }
    
    .social-rocket-floating-buttons .social-rocket-floating-button {
      border-style: none;
      border-width: 0px;
      border-radius: 0px
    }
    
    .social-rocket-floating-buttons .social-rocket-floating-button,
    .social-rocket-floating-buttons .social-rocket-shares-total {
      margin-bottom: 0px
    }
    
    .social-rocket-tweet {
      background-color: #429cd6;
      color: #fff;
      font-size: 24px;
      border-style: none;
      border-width: 1px;
      border-color: #ddd;
      border-radius: 0px
    }
    
    .social-rocket-tweet a {
      border-left: 10px solid #3c87b2
    }
    
    .social-rocket-tweet-cta {
      color: #fff;
      text-align: right
    }
    
    @media screen and (max-width: 782px) {
      .social-rocket-inline-buttons.social-rocket-desktop-only {
        display: none !important
      }
      .social-rocket-inline-buttons.social-rocket-mobile-only {
        display: block
      }
    }
    
    @media screen and (min-width: 783px) {
      .social-rocket-inline-buttons.social-rocket-mobile-only {
        display: none !important
      }
      .social-rocket-inline-buttons.social-rocket-desktop-only {
        display: block
      }
    }
    
    @media screen and (max-width: 782px) {
      .social-rocket-floating-buttons.social-rocket-desktop-only {
        display: none !important
      }
      .social-rocket-floating-buttons.social-rocket-mobile-only {
        display: block
      }
    }
    
    @media screen and (min-width: 783px) {
      .social-rocket-floating-buttons.social-rocket-mobile-only {
        display: none !important
      }
      .social-rocket-floating-buttons.social-rocket-desktop-only {
        display: block
      }
    }